# Data
data/*
!data/.gitkeep

# paper
paper/*
!paper/.gitkeep

# models objects
models/

# Python bytecode
__pycache__/
*.py[cod]

# Packaging artifacts
*.egg-info/
.eggs/
build/
dist/

# Jupyter Notebook
notebooks/*.db
.ipynb_checkpoints/
notebooks/*.ipynb

.pdm.toml

# Environments
.env
env/

# docs
docs/quick_start_files/
docs/*.html

