# Data
data/*
!data/.gitkeep

# paper
paper/*
!paper/.gitkeep

# models objects
models/

# Python bytecode
__pycache__/
*.py[cod]

# Packaging artifacts
*.egg-info/
.eggs/
build/
dist/

# Jupyter Notebook
notebooks/*.nc
.ipynb_checkpoints/
notebooks/*.ipynb

.pdm.toml

# Environments
.env
env/

